@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html,
body
{
	width: 100%;
	min-height: 100%;
}

body {
	color: #fffce1;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Quicksand', 'Roboto', Arial, sans-serif;
}

a {
	text-decoration: none;
}

a:focus {
	outline: 0;
}

/* Navigation Bar */
.navigation-bar {
	opacity: 0.8;
	height: 65px;
	background-color: #FFFFFF;
}

.sticky {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

.wonderland-logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
}

.social-links {
	position: absolute;
	right: 20px;
	transform: translate(-50%, 50%);
	color: #000000;
}

.social-links a {
	font-size: 25px;
	margin-right: 5px;
	color: #000000;
}

.content {
	overflow-x: hidden;
}

/* Policy Section */
.privacy-policy-section {
	background: #f5f5f9;
	padding: 20px;
	width: 90vw;
	margin: 100px auto 50px;
	color: #000000;
}

.privacy-policy-section a {
	color: #000000;
	text-decoration: underline;
}

/* Introduction Section */
.introduction-section {
	height: 100vh;
	background: #FFFFFF url("../img/mikha.jpg") no-repeat;
	background-size: cover;
}

.intro-text {
	position: absolute;
	width: 50vw;
	bottom: 100px;
	left: 100px;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 2px;
}

/* Slider Section */
.slider-section {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
}

.slider {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	z-index: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	-webkit-transition: -webkit-transform 1600ms;
	transition: -webkit-transform 1600ms, transform 1600ms;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.slide-1 {
	left: 0;
	background: #c5ccd2;
}

.slide-2 {
	left: 100%;
	background: #c5ccd2;
}

.slide-3 {
	left: 200%;
}

.slider {
	display: flex;
	justify-content: flex-start;
}

.slider-content {
	width: 600px;
	padding-left: 50px;
}

.slide-1 .slider-content {
	position: absolute;
	top: 300px;
	right: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

.slide-2 .slider-content {
	position: absolute;
	top: 300px;
	right: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

.download-link {
	margin-top: 300px;
	display: block;
	font-size: 28px;
}

.slide-3 .slider-content {
	position: absolute;
	bottom: 60px;
}

.slide-2 h2 {
	color: #FFFFFF;
	font-weight: 900;
	text-transform: capitalize;
	font-size: 25px;
	font-weight: 500;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 2px;
}

.slide-2 h4 {
	font-size: 22px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	margin-top: 10px;
	margin-bottom: 10px;
}


.slide-3 h2 {
	background: #852400;
	color: #FFFFFF;
	padding: 10px;
	font-weight: 900;
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 2px;
}

.slide-3 h4 {
	background: #182285;
	font-size: 22px;
	padding: 10px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	margin-top: 10px;
	margin-bottom: 10px;
}

.slide-1 > img, .slide-2 > img {
	margin: auto;
}

.slide-3 > img {
	position: absolute;
	width: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
}


.slider h2 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
}
.slider h4 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
}
.slider > img {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
}

.slide-radio1, .slide-radio2, .slide-radio3 {
	display: none;
}

.slide-radio1:checked ~ .slider {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
	-webkit-transform: translateX(-200%);
	transform: translateX(-200%);
}

.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1
}

.slider-pagination {
	position: absolute;
	bottom: 30px;
	width: 55px;
	left: 50%;
	margin-left: -27.5px;
	text-align: center;
	z-index: 1000;
	display: flex;
	align-items: center;
}

.slider-pagination label {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	background: #fff;
	margin: 0 10px;
	cursor: pointer;
}

/* About Section */
.about-section {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.section1 {
	width: 50vw;
	float: left;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #e84e22;
}

.wonderland-about-title {
	width: 75%;
	margin: 100px auto 20px;
	font-weight: normal;
	font-size: 50px;
}

.wonderland-about-header {
	width: 75%;
	margin: auto auto 20px;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
}

.about-social-links {
	width: 75%;
	margin: 40px auto 20px;
}

.about-social-links a {
	font-size: 30px;
	color: #FFFFFF;
	margin-right: 10px;
}

.wonderland-about-text {
	width: 75%;
	margin: auto auto 10px;
	color: #E94F1B;
	font-size: 1.1em;
}

.section2 {
	background: #FFFFFF url("../img/about-mikha.jpg") no-repeat center;
	background-size: cover;
	width: 50vw;
	float: left;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Video Section */
.video-section {
	width: 100vw;
	height: 100vh;
	background: #FFFFFF url("../img/Based-Video.jpg") no-repeat;
	background-size: cover;
}

.youtube-frame {
	width: 1200px;
	margin: auto;
	top: 150px;
	height: 750px;
	position: relative;
}

/* Contact Section */
.contact-section {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.contact-section-1 {
	width: 50vw;
	float: left;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.wonderland-rainbow-logo {
	width: 200px;
	margin: 150px auto 60px;
	text-align: center;
}

.contact-about {
	width: 75%;
	margin: 30px auto 20px;
	color: #000000;
	font-size: 28px;
	font-weight: bold;
}

.contact-address {
	width: 75%;
	margin: 130px auto 20px;
	color: #000000;
	font-size: 28px;
	font-weight: normal;
}

.contact-address a {
	color: #000000;
	text-decoration: none;
}

/* Subscription Section */
.subscription-section {
	width: 50vw;
	float: left;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #e84e22;
}

.terms-and-policy {
	margin-top: 30px;
	color: #FFFFFF;
	font-size: 20px;
}

.terms-and-policy a {
	color: #FFFFFF;
}

.subscription-section #mc_embed_signup {
	width: 40vw;
	margin: auto;
	position: relative;
	top: 140px;
}

#mc_embed_signup h2 {
	font-size: 32px !important;
	font-weight: bold;
	margin-bottom: 30px !important;
}

.mc-field-group label {
	font-weight: bold;
	font-size: 16px !important;
}

#mc_embed_signup .button {
	width: 100% !important;
	background: transparent !important;
	font-size: 30px !important;
	font-weight: bold !important;
	text-align: left !important;
	margin-top: 30px !important;
	padding-left: 0px !important;
}

#mc_embed_signup .mc-field-group select {
	width: 100% !important;
}

#mc_embed_signup div.response {
	width: 100% !important;
}

#mc_embed_signup #mce-success-response {
	color: #FFFFFF !important;
	text-align: center !important;
}

#mc_embed_signup .indicates-required {
	font-size: 13px !important;
	font-weight: bold !important;
}

#mc_embed_signup .mc-field-group input {
	border: none transparent !important;
	border-bottom: solid 1px #FFFFFF !important;
	background: transparent !important;
}

#mc_embed_signup .mc-field-group select {
	border: none transparent !important;
	border-bottom: solid 1px #FFFFFF !important;
	background: transparent !important;
	color: #FFFFFF !important;
}

#mc_embed_signup .mc-field-group select option {
	color: #000000 !important;
}

#mc_embed_signup .asterisk {
	color: #FFFFFF !important;
}

textarea:focus, input:focus, select:focus {
	outline: none;
}

.footer {
	height: 100px;
	background: #000000;
}

.footer-social-links {
	float: left;
	margin: 40px 0 0 40px;
}

.footer-social-links a {
	font-size: 25px;
	margin-right: 5px;
	color: #FFFFFF;
}

.copyright {
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin: 40px 40px 0 0;
}

@media (min-width: 320px) and (max-width: 480px) {
	.intro-text {
		width: 92vw;
		font-size: 16px;
		left: 20px;
		right: 20px;
		bottom: 50px;
	}

	.social-links {
		display: none;
	}

	.introduction-section {
		background-position: center;
		background-size: cover;
	}

	.wonderland-about-title {
		font-size: 30px;
		margin-top: 30px;
	}

	.wonderland-about-header {
		font-size: 16px;
		text-align: left;
	}

	.wonderland-small-logo {
		width: 30px;
	}

	.slider > img {
		width: 100vw;
		object-fit: cover;
	}

	.slide-1 .slider-content, .slide-2 .slider-content {
		position: relative;
		top: 0;
		width: 100%;
		text-align: center;
		margin: 25px auto auto;
	}

	.download-link {
		margin-top: 10px;
		font-size: 20px;
	}

	.slider-content {
		width: 300px;
	}

	.slide-2 h2, .slide-3 h2 {
		font-size: 14px;
	}

	.slide-2 h4, .slide-3 h4 {
		font-size: 16px;
	}

	.about-section {
		height: auto;
	}

	.section1 {
		width: 100vw;
		height: auto;
		overflow: hidden;
	}

	.wonderland-rainbow-logo {
		margin-top: 40px;
	}

	.contact-about {
		font-size: 18px;
	}

	.contact-address {
		margin-top: 50px;
		font-size: 16px;
		margin-bottom: 40px;
	}

	.video-section {
		height: auto;
		overflow: auto;
	}

	.youtube-frame {
		width: 100vw;
		top: 0;
		height: 220px;
	}

	.section2 {
		width: 100vw;
	}

	.contact-section {
		height: auto;
		overflow: auto;
	}

	.contact-section-1 {
		width: 100vw;
		height: auto;
	}

	.subscription-section {
		width: 100vw;
		height: auto;
	}

	.subscription-section #mc_embed_signup {
		width: 80vw;
		top: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#mc_embed_signup h2 {
		font-size: 22px !important;
	}

	.terms-and-policy {
		font-size: 17px;
	}

	#mc_embed_signup .button {
		font-size: 20px !important;
	}

	.footer {
		height: 60px;
		overflow: auto;
	}

	.copyright {
		margin: 20px 20px 10px 0;
		font-size: 16px;
	}

	.footer-social-links {
		margin: 20px 0 10px 20px;
	}

	.footer-social-links a {
		font-size: 16px;
	}
}

@media only screen and (min-device-width : 321px) and (max-device-width : 1024px) {
	.about-section {
		height: auto;
	}

	.section1 {
		width: 100vw;
		height: auto;
		overflow: auto;
	}

	.wonderland-about-title {
		margin-top: 30px;
		font-size: 26px;
	}

	.wonderland-about-header {
		font-size: 22px;
	}

	.section2 {
		width: 100vw;
		background-position: top;
	}

	.slider-section {
		width: 100vw;
		height: 600px;
		position: relative;
		overflow-x: hidden;
	}

	.slider {
		height: 100%;
	}

	.slider > img {
		width: 250px;
		object-fit: cover;
	}

	.slide-1 .slider-content, .slide-2 .slider-content {
		position: relative;
		top: 0;
		width: 100%;
		text-align: center;
		margin: 25px auto auto;
	}

	.download-link {
		margin-top: 10px;
		font-size: 20px;
	}

	.video-section {
		height: auto;
		overflow: auto;
	}

	.youtube-frame {
		width: 100vw;
		top: 0;
		height: 220px;
	}

	.contact-section {
		height: auto;
		overflow: auto;
	}

	.contact-section-1 {
		width: 100vw;
		height: auto;
	}

	.wonderland-rainbow-logo {
		margin-top: 50px;
	}

	.contact-address {
		margin-top: 30px;
	}

	.subscription-section {
		width: 100vw;
		height: auto;
	}

	.subscription-section #mc_embed_signup {
		width: 80vw;
		top: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}